<!-- Articles -->
<!-- Stylesheets: post -->
{{#site.recentPosts}}
<article class="post">
    <header class="post-header">
        <h1><a href="{{relativeURL}}" title="[Permalink] {{title}}">{{title}}</a></h1>
        <span class="date">{{dateString}}</span>
    </header>
    <section class="post-content">
        {{{summary}}}
    </section>
    <p class="continue-reading"><a href="{{relativeURL}}">Continue reading &raquo;</a></p>
</article>
<p class="divider">~</p>
{{/site.recentPosts}}
<section id="bottomNav">
    <a href="/archives">More articles &raquo;</a>
</section>