/*
 * Reset
 */

article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
h1, h2, h3, h4 { margin: 0; display:inline; }

/*
 * Main
 */

html {
	overflow-y: scroll;
	height: 100%;
}
body {
	font: 20px/1.35em "Gill Sans", "Gill Sans MT", "Gill Sans MS", Helvetica, Sans-Serif;
	background-color: white;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
#container {
    min-height: 100%;
    position: relative;
}
#container > header {
	margin: 0px 0px 5px 0px;
}
#container > header a {
    text-decoration: none;
	color: black;
}
#container > header a:hover {
    text-decoration: underline;
}
#container > header > a {
    width: 453px;
    display: block;
	margin: 0px auto;
}
.badtie {
    height: 15px;
    background: #646464 url(/images/pinstripe.png) repeat fixed;
    background-size: 60px 60px;
}
#logo {
    display: block;
	margin: 10px auto 0px auto;
}
#logotype {
	margin: 0px auto;
	font-size: 60px;
	line-height: 1em;
	display: block;
	text-align: center;
}
#content {
	width: 650px;
	margin: 0px auto;
	padding: 20px 0px 50px 0px;
	background: white;
}
.divider {
	margin: 25px;
	font: 40px "Georgia", Georgia, Times, serif;
	color: #ffddd2;
	text-align: center;
}
nav {
    clear: left;
	margin: 20px auto 0px auto;
	background: white;
	padding: 0em 0em 0em 2em;
}
nav ul {
    margin: 0px;
    padding: 0px;
	text-align: center;
}
nav li {
    display: inline;
	padding: 0em 2em 0em 0em;
}
#bottomNav {
    text-align: right;
	padding: 0px 0px 25px 0px;
	display: block;
}
img { border-width: 0px; }
a {
	color: #b83000;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
h1 {
	font-size: 18px;
	line-height: 1em;
}
h1 a { color: black; }
h2 { font-size: 16px; }
blockquote { font-style: italic; }
pre {
    overflow: scroll;
}
footer {
	text-align: center;
	font-size: 11px;
	line-height: 0.75em;
	width: 100%;
	bottom: 0;
	color: #888;
	height: 50px;
	position: absolute;
}

/* 500-pixel layout for smaller screens (pixel sizes for this were lovingly stolen from Marco.org, because he has undoubtedly put a lot of thought into choosing the ideal widths) */
@media (max-width: 680px) {
    #content { width: 500px; }
}

/* 240-pixel layout for iPhone-sized screens (also stolen from our coffee-drinking friend) */
@media (max-width: 520px) {
    #content {
    	width: 300px;
        font-size: 14px;
    }
    nav {
        padding: 0em 0em 0em 0.5em;
    }
    nav li {
	    padding: 0em 0.5em 0em 0em;
    }
    #container > header > a {
        width: 194px;
    }
    #logotype {
        clear: left;
        font-size: 40px;
        margin: 0px auto;
    }
    section.post-content {
        font-size: 14px;
        line-height: 1.6em;
    }
    .post-content img {
        width: 250px !important;
        margin: 5px !important;
    }
    .date {
        float: none !important;
    }
}