<!DOCTYPE HTML>
<!--
	Well hello there! Feel free to look over the code here, if you'd like.
	It is worth mentioning that the un-compiled version of the site's code
	can be found here:  http://github.com/CarterA/cartera.me/
-->
<html>
	<head>
		
		<meta charset="utf-8">
		<title>{{site.name}} - {{title}}</title>
		<meta name="description" content="Articles and projects written and created by developer Carter Allen.">
		<meta name="author" content="Carter Allen">
		<link rel="alternate" type="application/atom+xml" title="Carter Allen - Feed" href="http://cartera.me/feed.xml">
		<link rel="openid.server" href="http://www.myopenid.com/server" />
		<link rel="openid.delegate" href="http://carterallen.myopenid.com/" />
		<link rel="openid2.local_id" href="http://carterallen.myopenid.com" />
		<link rel="openid2.provider" href="http://www.myopenid.com/server" />
		
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/stylesheets/main.css">
		
        {{#stylesheets}}
		<link rel="stylesheet" href="/stylesheets/{{stylesheetName}}.css">
		{{/stylesheets}}
		
		<script src="/scripts/main.js"></script>
		
		{{{livereload}}}
		
	</head>
	<body>
	    <div id="container">
		<header>
		    <div class="badtie"></div>
			<a href="/">
				<img id="logo" src="/images/hat.png" alt="" width=190 height=100>
				<p id="logotype">carter<b>allen</b></p>
			</a>
			<nav>
			  <ul>
				<li><a href="/">Articles</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/archives">Archives</a></li>
				<li><a href="/about/" rel="author">About</a></li>
			  </ul>
			</nav>
		</header>
		<section id ="content">{{{content}}}</section>
		<footer>
			<!--<p>Site revision <a href="http://github.com/CarterA/cartera.me/tree/{{commitHash}}">{{commitHash}}</a>. -->Valid <a href="http://validator.w3.org/check?uri=referer" target="_blank">HTML5</a>.<!--</p>-->
			<p>Copyright 2011 Carter Allen</p>
			<div class="badtie"></div>
		</footer>
		</div>
	</body>
</html>