<!-- Stylesheets: post -->
<article class="post">
	<header class="post-header">
		<h1>{{title}}</h1>
		<span class="date">{{dateString}}</span>
	</header>
	<section class="post-content">
		{{{content}}}
	</section>
	<section class="comments">
		<div id="disqus_thread"></div>
		<script src="http://disqus.com/forums/cartera/embed.js"></script>
		<noscript><a href="http://cartera.disqus.com/?url=ref">View the discussion thread.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
</article>